@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="home container section">
    @await Component.InvokeAsync("ProductsGrid")
</section>
<!--=============== HOME ===============-->
<section class="home container">
    <partial name="_SwiperSlide" />
</section>

