@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="home container section">
    @await Component.InvokeAsync("ProductsGrid")
</section>
<!--=============== HOME ===============-->
<section class="home container">

    
    <partial name="_SwiperSlide" />
</section>

<partial name="_DiscountSection" />
<partial name="_NewSection" />
<partial name="_StepsSection" />
<partial name="_FeaturedSection" />
