@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--=============== HOME ===============-->
<section class="home container">
    <partial name="_SwiperSlide" />
</section>

<!--=============== DISCOUNT ===============-->
<section class="discount section">
</section>

<!--=============== NEW ARRIVALS ===============-->
<section class="new section">
</section>

<!--=============== STEPS ===============-->
<section class="steps section container">
</section>

<!--=============== NEWSLETTER ===============-->
<section class="newsletter section">
</section>
