@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--=============== HOME ===============-->
<section class="home container">
    <partial name="_SwiperSlide" />
</section>

<partial name="_DiscountSection" />
<partial name="_NewSection" />


<!--=============== STEPS ===============-->
<section class="steps section container">
</section>

<!--=============== NEWSLETTER ===============-->
<section class="newsletter section">
</section>
