<!--=============== CART ===============-->
<div class="cart" id="cart">
	<i class="bx bx-x cart__close"></i>

	<h2 class="cart__title-center">
		My Cart
	</h2>

	<div class="cart__container">
		<article class="cart__card">
			<div class="cart__box">
				<img src="img/products/Eva-Solo-Dzbanek-Kettle-Silver.jpg" class="cart__img"/>
			</div>
			<div class="cart__details">
				<h3 class="cart__title">Eva Solo - Dzbanek Termiczny Kettle - Silver</h3>
				<span class="cart__price">£75.83</span>

				<div class="cart__amount">
					<div class="cart__amount-content">
						<span class="cart__amount-box">
							<i class="bx bx-minus"></i>
						</span>

						<span class="cart__amount-number">1</span>

						<span class="cart__amount-box">
							<i class="bx bx-plus"></i>
						</span>
					</div>
					<i class="bx bx-trash-alt cart__amount-trash"></i>
				</div>
			</div>
		</article>
		<article class="cart__card">
			<div class="cart__box">
				<img src="img/assets/cart-2.png" class="cart__img" />
			</div>
			<div class="cart__details">
				<h3 class="cart__title">Cardigan Hoodie</h3>
				<span class="cart__price">£16</span>

				<div class="cart_amount">
					<div class="cart__amount-content">
						<span class="cart__amount-box">
							<i class="bx bx-minus"></i>
						</span>

						<span class="cart__amount-number">1</span>

						<span class="cart__amount-box">
							<i class="bx bx-plus"></i>
						</span>
					</div>
					<i class="bx bx-trash-alt cart__amount-trash"></i>
				</div>
			</div>
		</article>
		<article class="cart__card">
			<div class="cart__box">
				<img src="img/assets/cart-3.png" class="cart__img" />
			</div>
			<div class="cart__details">
				<h3 class="cart__title">Cartoon</h3>
				<span class="cart__price">£10</span>

				<div class="cart_amount">
					<div class="cart__amount-content">
						<span class="cart__amount-box">
							<i class="bx bx-minus"></i>
						</span>

						<span class="cart__amount-number">1</span>

						<span class="cart__amount-box">
							<i class="bx bx-plus"></i>
						</span>
					</div>
					<i class="bx bx-trash-alt cart__amount-trash"></i>
				</div>
			</div>
		</article>
	</div>

	<div class="cart__prices">
		<span class="cart__prices-item">3 item(s)</span>
		<span class="cart__prices-total">£34.56</span>
	</div>
</div>