<!--=============== DISCOUNT ===============-->
<section class="discount section">
	<div class="discount__container container grid">
		<img src="img/products/Juice-Bruce-Lemon-Squeezer-Yaacov-Kaufman.jpg" alt="" class="discount__img" />
		<div class="discount__data">
			<h2 class="discount__title">50% Discount <br /> On new Products</h2>
			<a href="#" class="button">View more</a>
		</div>
	</div>
</section>