
<!--=============== FEATURED ===============-->
<section class="featured featured-section featured-bg container" style="background-image: url(../img/featured/coffee-bg.jpg);border-radius: 1rem;;">
	<div class="feature__text-overlay">
		<div class="featured__inner-wrap">
			<div class="featured__container">
				<p class="featured__issue-number">Issue One</p>
				<h1 class="featured__title">Let's Talk Coffee'</h1>
				<h3 class="featured__description">Here's our best picks of all things coffee</h3>
				<p class="featured__date">29 December 2022.</p>
			</div>
		</div>
	</div>	
</section>
