<!--=============== NEW ARRIVALS ===============-->
<section class="new section">
	<h2 class="section__title">New Arrivals</h2>

	<div class="new__container container">
		<div class="swiper new-swiper">
			<div class="swiper-wrapper">
				<!-- New content item 1 -->
				<div class="new__content swiper-slide">
					<div class="new__tag">New</div>
					<img src="~/img/products/Dansk-Kobenstyle-White-Casserole-Dish.jpg" class="new__img" alt="" />
					<h3 class="new__title">Dansk - Kobenstyle White Casserole Dish</h3>
					<span class="new__subtitle">Acessory</span>

					<div class="new__prices">
						<span class="new__price">£67.89</span>
						<span class="new__discount">£67.89</span>
					</div>

					<a href="#" class="button new__button">
						<i class="bx bx-cart-alt new__icon"></i>
					</a>					
				</div>
				<!-- New content item 1 -->
				<!-- New content item 2 -->
				<div class="new__content swiper-slide">
					<div class="new__tag">New</div>
					<img src="~/img/products/Dansk-Kobenstyle-White-Casserole-Dish.jpg" class="new__img" alt="" />
					<h3 class="new__title">Dansk - Kobenstyle White Casserole Dish</h3>
					<span class="new__subtitle">Acessory</span>

					<div class="new__prices">
						<span class="new__price">£67.89</span>
						<span class="new__discount">£67.89</span>
					</div>

					<a href="#" class="button new__button">
						<i class="bx bx-cart-alt new__icon"></i>
					</a>
				</div>
				<!-- New content item 2 -->
				<!-- New content item 3 -->
				<div class="new__content swiper-slide">
					<div class="new__tag">New</div>
					<img src="~/img/products/Dansk-Kobenstyle-White-Casserole-Dish.jpg" class="new__img" alt="" />
					<h3 class="new__title">Dansk - Kobenstyle White Casserole Dish</h3>
					<span class="new__subtitle">Acessory</span>

					<div class="new__prices">
						<span class="new__price">£67.89</span>
						<span class="new__discount">£67.89</span>
					</div>

					<a href="#" class="button new__button">
						<i class="bx bx-cart-alt new__icon"></i>
					</a>					
				</div>
				<!-- New content item 3 -->
				<!-- New content item 4 -->
				<div class="new__content swiper-slide">
					<div class="new__tag">New</div>
					<img src="~/img/products/Dansk-Kobenstyle-White-Casserole-Dish.jpg" class="new__img" alt="" />
					<h3 class="new__title">Dansk - Kobenstyle White Casserole Dish</h3>
					<span class="new__subtitle">Acessory</span>

					<div class="new__prices">
						<span class="new__price">£67.89</span>
						<span class="new__discount">£67.89</span>
					</div>

					<a href="#" class="button new__button">
						<i class="bx bx-cart-alt new__icon"></i>
					</a>
				</div>
				<!-- New content item 4 -->
				<!-- New content item 5 -->
				<div class="new__content swiper-slide">
					<div class="new__tag">New</div>
					<img src="~/img/products/Dansk-Kobenstyle-White-Casserole-Dish.jpg" class="new__img" alt="" />
					<h3 class="new__title">Dansk - Kobenstyle White Casserole Dish</h3>
					<span class="new__subtitle">Acessory</span>

					<div class="new__prices">
						<span class="new__price">£67.89</span>
						<span class="new__discount">£67.89</span>
					</div>

					<a href="#" class="button new__button">
						<i class="bx bx-cart-alt new__icon"></i>
					</a>
				</div>
				<!-- New content item 5 -->
			</div>
		</div>
	</div>
</section>