<!--=============== STEPS ===============-->
<section class="steps section container">
	<div class="steps__bg">
		<h2 class="section__title">How to order </h2>

		<div class="steps__container grid">
			<!-- Step 1 -->
			<div class="steps__card">
				<div class="steps__card-number">01</div>
				<h3 class="steps__card-title">Choose Products</h3>
				<p class="steps__card-description">
					We have several products you can choose from.
				</p>
			</div>
			<!-- Step 1 ends -->
			<!-- Step 2 -->
			<div class="steps__card">
				<div class="steps__card-number">02</div>
				<h3 class="steps__card-title">Place an order</h3>
				<p class="steps__card-description">
					Once ordered, you item is shipped the next day (Monday to Friday).
				</p>
			</div>
			<!-- Step 2 ends -->
			<!-- Step 3 -->
			<div class="steps__card">
				<div class="steps__card-number">02</div>
				<h3 class="steps__card-title">Place an order</h3>
				<p class="steps__card-description">
					Our delevery process, can be tracked online, right up to it's
					delivered to you door.
				</p>
			</div>
			<!-- Step 3 ends -->
		</div>
	</div>
</section>