<div class="swiper home-swiper">
    <!-- swiper-wrapper -->
    <div class="swiper-wrapper">

        <!-- swiper item 1 -->
        <section class="swiper-slide">
            <div class="home__content grid">
                <div class="home__group">
                    <div class="slide__item-details-brief">
                        <div class="slide__product_img_card">
                            <img src="/img/products/Sage-Barista-Express-Espresso-Machine.jpg" class="home__img" alt="" />
                        </div>
                        <div class="home__indicator"></div>

                        <div class="home__details-img">
                            <h4 class="home__details-title">Sage Barista Express Espresso Machine</h4>
                            <span class="home__details-subtitle">£789.00</span>
                        </div>
                    </div>

                </div>


                <div class="home__data">
                    <h3 class="home__subtitle">#3 Trending Item</h3>
                    <h1 class="home__title">Original <br />IS NEVER <br /> FINISHED! </h1>
                    <p class="home__description">
                        Sage Barista Express Espresso Machine - Espresso and Coffee Maker, Bean to
                        Cup Coffee Machine,Brushed Stainless Steel
                    </p>

                    <div class="home__buttons">
                        <a href="#" class="button">Buy Now</a>
                        <a href="#" class="button--link button--flex">
                            View Details
                            <i class="bx bx-right-arrow-alt button__icon"></i>
                        </a>
                    </div>
                </div>
            </div>

        </section>
        <!-- swiper item 1 ends -->
        <section class="swiper-slide">
            <div class="home__content grid">
                <div class="home__group">
                    <div class="slide__item-details-brief">
                        <div class="slide__product_img_card">
                            <img src="/img/products/Sage-Barista-Express-Espresso-Machine.jpg" class="home__img" alt="" />
                        </div>
                        <div class="home__indicator"></div>

                        <div class="home__details-img">
                            <h4 class="home__details-title">Sage Barista Express Espresso Machine</h4>
                            <span class="home__details-subtitle">£789.00</span>
                        </div>
                    </div>

                </div>


                <div class="home__data">
                    <h3 class="home__subtitle">#3 Trending Item</h3>
                    <h1 class="home__title">Original <br />IS NEVER <br /> FINISHED! </h1>
                    <p class="home__description">
                        Sage Barista Express Espresso Machine - Espresso and Coffee Maker, Bean to
                        Cup Coffee Machine,Brushed Stainless Steel
                    </p>

                    <div class="home__buttons">
                        <a href="#" class="button">Buy Now</a>
                        <a href="#" class="button--link button--flex">
                            View Details
                            <i class="bx bx-right-arrow-alt button__icon"></i>
                        </a>
                    </div>
                </div>
            </div>

        </section>
        <!-- swiper item 2 -->
        <!-- swiper item  ends -->
        <!-- swiper item 3 -->
        <section class="swiper-slide">
            <div class="home__content grid">
                <div class="home__group">
                    <div class="slide__item-details-brief">
                        <div class="slide__product_img_card">
                            <img src="/img/products/Sage-Barista-Express-Espresso-Machine.jpg" class="home__img" alt="" />
                        </div>                        
                        <div class="home__indicator"></div>

                        <div class="home__details-img">
                            <h4 class="home__details-title">Sage Barista Express Espresso Machine</h4>
                            <span class="home__details-subtitle">£789.00</span>
                        </div>
                    </div>

                </div>


                <div class="home__data">
                    <h3 class="home__subtitle">#3 Trending Item</h3>
                    <h1 class="home__title">Original <br />IS NEVER <br /> FINISHED! </h1>
                    <p class="home__description">
                        Sage Barista Express Espresso Machine - Espresso and Coffee Maker, Bean to 
                        Cup Coffee Machine,Brushed Stainless Steel
                    </p>

                    <div class="home__buttons">
                        <a href="#" class="button">Buy Now</a>
                        <a href="#" class="button--link button--flex">
                            View Details
                            <i class="bx bx-right-arrow-alt button__icon"></i>
                        </a>
                    </div>
                </div>
            </div>

        </section>
        <!-- swiper item 3 ends -->
    </div>

    <div class="swiper-pagination"></div>
    <!-- swiper-wrapper ends -->
</div>
