@using System.Globalization
@model List<Product>

<div class="products__grid-filter-wrap grid">
    <div class="product__grid-tabs-wrap">
        <div class="grid__tab-item active"><a href="#">All</a></div>
        <div class="grid__tab-item"><a href="#">Popular</a></div>
        <div class="grid__tab-item"><a href="#">New</a></div>
    </div>
    <div class="product__price-filter">
        <div class="product__price-filter-wrap">
            <a class="price__filter-item active" href="#">All</a>
            <a class="price__filter-item" href="#">Under £50</a>
            <a class="price__filter-item" href="#">Under £100</a>
            <a class="price__filter-item" href="#">Under £200</a>
        </div>
    </div>
</div>

@{
    if(Model != null){
        <div class="products__grid grid">
            @foreach (var item in Model)
            {
                <div class="products__grid-gridItem-wrap">
                        <div class="products__grid-gridItem-header">
                            <div class="gridItem__header-button">
                                <a href="#" class="gridItem__header-link">
                                    <div class="gridItem__header-link-wrap button__icon">
                                        £ @String.Format(CultureInfo.InvariantCulture,"{0:0.00}", @item.Price)
                                        <i class="bx bx-right-arrow-alt"></i>
                                    </div>                    
                                </a>
                            </div>
                        </div>
        
                        <div class="products__grid-gridItem-img-wrap">
                            <img class="product__grid-product-img" src="~/img/products/@item.Image" />
                        </div>
                        <div class="products_grid-gridItem-details">
                            <div class="gridItem__details-name">
                                @StringExtensions.ShortenAndFormatText(item.Title, 50).ToString()
                            </div>
                        </div>
                    </div>
            }
        </div>
    }
    else
    {
        <h1>Loading</h1>
    }
}
